*{
    box-sizing: border-box;
}
body{
    background-color: rgb(80, 224, 99);
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    text-align: center;
    text-transform: uppercase;
    
}
div header{
    background-color: rgb(91, 91, 224);
    color: white;
    text-align: center;
}
#menu{
    float: right;
    width: 100%;
    height: auto;
    background-color: cadetblue;
    padding: 0px;
    
    
}
#menu ul{
    list-style-type: none;
    padding-left: 0px;
    text-align: right;
}
#menu li{
    display: inline-block;
    position: relative;
}
#menu ul li a{
    text-decoration: none;
    display: block;
    color: crimson;
    margin-left:10 px;
    padding: 10px;
    background-color: rgb(12, 12, 12);
}
#menu ul li a:hover{
    background-color: burlywood;
    color: chartreuse;
    font-style: italic;
    font-size: 30px;
}
#menu ul ul{
    position: absolute;
    left: 0px;
    right: 0px;
    background-color: forestgreen;
    width: 100px;
    height: auto;
    display: none;
}
#menu ul ul li{
    width: 100px;
    text-align: center;
    margin: 2px;
    display: block;
    
}
article{
    float: left;
    width: 45%;
    padding: 20px;
    background-color: rgb(214, 160, 171);
    height: auto;
}
section::after{
    content: '';
    display: table;
    clear: both;
}
footer{
    background-color: black;
    height: 100px;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    margin: 10px;
}
#art1{
    margin: 10px;
}
#art2{
    margin: 10px;
}